[Desktop Entry]
Encoding=UTF-8
Name=Link to 入乡随俗 俄罗斯
Type=Link
URL=https://www.google.com/search?sxsrf=ALeKk01YcMq0wq-xpTXq386QJProXc5vmA:1588679266192&q=%E5%85%A5%E4%B9%A1%E9%9A%8F%E4%BF%97+%E4%BF%84%E7%BD%97%E6%96%AF&spell=1&sa=X&ved=2ahUKEwiG4Mq605zpAhVF2KQKHZdjAh8QBSgAegQICxAn
Icon=text-html
